<h2>Welcome Biohackers!</h2>

<p>Bio-technological developments follow each other at a rapid pace. Inventions, such as the CRISPR-Cas9 technique that allows genetic editing of DNA, can have far-reaching consequences. The BioHack Academy promotes wider access to knowledge and tools outside institutional science and allows for a wider distribution of biotechnological skill. In the BioHack Academy the focus is on learning the basics of biotechnology, working with biomaterials and collaborate on building your own lab equipment. 
In addition to gathering new knowledge, the BioHack Academy is also about sharing knowledge. All lab equipment manufactured within the BioHack Academy is open-source. This means that everyone is completely free to improve the design, adapt it according to their own preferences and continue experimenting.</p>

<p>This is the central Syllabus of the BioHack Academy 2022</p>

<h2>Syllabus navigation</h2>
<ul>
	<li><a href="/bha7/schedule/schedule.pdf" target="_blank">Schedule (PDF)</a>, an overview of this year's schedule at Waag</li>
	<li><a href="/bha7/classes/">Classes</a>, find all the recordings, presentations and assignments from this edition </li>
	<li><a href="/bha7/participants/">Participants</a>, links to the personal pages of participants </li>
	<li><a href="/bha7/information/">Information</a>, an various organisms, media and equipment we work with in the Biohack Academy </li>
	<li><a href="/bha7/previous-editions/">Archive</a>, an archive of previous editions of the Biohack Academy </li>
</ul>

<h2>Partnerlabs BHA7</h2>
<p>The partner labs are </p>
<ul>
    <li><a href="https://waag.org/nl/event/biohack-academy-6">Waag's Open Wetlab - Amsterdam</a></li>
    <li><a href="http://www.bioclub.org">BioClub Tokyo - Japan</a></li>
    <li><a href="https://finearts.unm.edu/steam-nm/">STEAM New Mexico</a></li>
	<!-- <li><a href="http://fablab-seoul.org/2019biohackacademy/">Biolab Seoul - South Korea</a></li> --> 
</ul>

<h2>Special thanks to</h2>
<ul>
	<li>Jose Bessa and his team from the i3S in Porto for helping us with the lab materials and reagents for the CRISPR experiment</li>
	<li>Urs Gaudenz van Gaudi Labs for helping us with the DIY-Hardware</li>
</ul>

<!-- <p> If you want to get in touch, send us an e-mail: biohack <i>-at-</i> waag <i>-dot-</i> org </p> -->

<img src="{{ site.baseurl }}/bha3/img/yeastogram.png" width=740 />
